.page {
    background-image: url(/img/bg.png);
    background-size: cover;  
    background-color: #000000;
    min-height: 100%;
    display: flex;
    justify-content: flex-end;
    opacity: 1;
    transition: filter 1s;
    transition: opacity 1s;

    &_blured {
        opacity: 0.2;
        filter: blur(7.6px);
    }
}