.section {

    &__header {
        border-top: 1px solid #c7c7cc;
        border-bottom: 1px solid #c7c7cc;
        height: 56px;
        display: flex;
        align-items: center;
        padding: 0 24px;
        justify-content: space-between;
        margin-top: -1px;
    }

    &__title {
        font-family: Roboto;
        font-size: 18px;
        color: #400078;
        font-weight: normal;
    }

    &__content {
        padding: 24px;
        position: relative;
    }

    &__preview {
        margin-top: 10px;
        opacity: 1;
        transition: opacity 0.5s;
        width: 80%;

        &_closed {
            opacity: 0;
        }
    }

    &__postview {
        padding-top: 40px;
        display: none;
        opacity: 1;
        transition: opacity 0.5s;
        width: 80%;

        &_closed {
            opacity: 0;
        }
    }
}